     <ul class="navbar">
     	<li><a href='/Animals' class='nav'>Animals</a> | </li>  
     	<li><a href='/Buildings' class='nav'>Buildings</a> | </li>  
     	<li><a href='/Fruit' class='nav'>Fruit</a> | </li> 
     	<li><a href='/Food' class='nav'>Food</a> | </li> 
     	<li><a href='/Furniture' class='nav'>Furniture</a> | </li>  
     	<li><a href='/Transport' class='nav'>Transport</a> | </li>  
     	<li><a href='/Vegetables' class='nav'>Vegetables</a> | </li><li><a href='/Various' class='nav'>Various</a> | </li>  
      </ul>